# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.venv/*
data/*
infra/jars/*
infra/jars/hudi-extensions-0.1.0-SNAPSHOT-bundled.jar
infra/jars/hudi-utilities-slim-bundle_2.12-0.14.0.jar

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
